**Matpotlib**

**Numpy**

**Dictionary**

**List**

In [13]:
list = [1,2,3,4,5,6,7,8,9,10]
print (list)
total = sum(list)
print (total)
print (max(list))
print (min (list))
list.append(20)
list.remove(2)
print(list)
print(sorted(list))
print(sorted(list, reverse =True))

car = ('BMW','Mercedes','Audi')
print(car)
print(car[1])
print(car[2])
car_list = list(car_tuple)
car[1] = 'Toyota'
print("tuple after mods", car_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
55
10
1
[1, 3, 4, 5, 6, 7, 8, 9, 10, 20]
[1, 3, 4, 5, 6, 7, 8, 9, 10, 20]
[20, 10, 9, 8, 7, 6, 5, 4, 3, 1]
('BMW', 'Mercedes', 'Audi')
Mercedes
Audi

NameError: name 'car_tuple' is not defined

In [19]:
set1 = {1,2,3,4,5}
set2 = {5,8,3,4,5}
print ('Intersection:', set1.intersection(set2))
print ('union:', set1.union(set2))
print ('difference:', set1.difference(set2))

Intersection: {3, 4, 5}
union: {1, 2, 3, 4, 5, 8}
difference: {1, 2}

In [25]:

my_dict = {
    "name": "Afrasiab Khan",
    "age": 24,
    "city": "Abbottabad",
    "job": "Interpreter",
    "hobby": "Reading"
}
print(my_dict)

{'name': 'Afrasiab Khan', 'age': 24, 'city': 'Abbottabad', 'job': 'Interpreter', 'hobby': 'Reading'}

**tuple**

**set**

**bold text**